.leaderboard{
    text-align: center;
}



.hero {
    background: linear-gradient(to right, #ff7e5f, #fedf7b);
    padding: 100px 0;
    align-items: center;
  }

.leaderboard h1{
    margin: auto;
    color: antiquewhite;
  }

.leaderboard table{
    margin-top: 2%;
    padding: 5px;
    width: 25%;
  }
  
  .leaderboard tr,th{
    color: #ff7e5f;
}

.leaderboard tr{
    padding: 2px;
    margin: 8px;
}
.leaderboard td{
    color: darkgrey;
    border-left: solid 2px;
     
}