#hubSelect{
    width: 50vw;
    height: 50vh;
    margin: auto;
    text-align: center;
}


.inputLabel{
    margin: 20px 0 20px !important;
}
.GameHubButton{
    margin: 0;
}

.active {
    background-color: #21a1f1;
}

button:disabled, button:hover:disabled{
    cursor: not-allowed;
    background-color: #61dafb;
}
